/* CSS for EolQuestionXBlock */

.eolquestion_block {
    position: relative;
    width: 100%;
    border-radius: 10px;
    background-color: #f1f2f4;
    padding: 20px;
    box-sizing: border-box;
    display: block;
    margin: 20px auto;
}

.eolquestion_block .index {
    width: 25px;
    height: 25px;
    color: #fff;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    top: calc(50% - 12.5px);
    left: 10px;
    line-height: 25px;
}

.eolquestion_block .separator {
    width: 1px;
    height: 40px;
    background-color: #a7a7a7;
    color: #fff;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(10px + 25px + 10px);
    float: left;
}

.eolquestion_block .text {
    color: #464646;
    font-weight: bold;
    text-align: justify;
    position: relative;
    margin-left: calc(10px + 25px + 10px);
}

.eolquestion_block .Calificada {
    /*
    background-color: #0062dc;
    */
    background-color: #dc0000;
}

.eolquestion_block .No-Calificada {
    background-color: #dc0000;
}

.eolquestion_block .Control {
    /*
    background-color: #00dc76;
    */
    background-color: #dc0000 ;
}

.q-tooltip {
    cursor: help;
}

/* Tooltip text */
.q-tooltip .q-tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}
  
/* Tooltip arrow */
.q-tooltip .q-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
/* Show the tooltip text when you mouse over the tooltip container */
.q-tooltip:hover .q-tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* CSS for EolQuestionXBlock Media Theme */

.eolquestion_block.Media {
    border-radius: 15px 15px 15px 15px;
    border: 2px solid #F9F0FC;
    background-color: transparent;
    padding: 15px;
}

.eolquestion_block.Media .index {
    width: 40px;
    height: 100%;
    border-radius: 12px 0px 0px 12px;
    top: 0px;
    left: 0px;
}

.eolquestion_block.Media .index:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -1px;
    bottom: -2px;
    right: 0px;
    /*
    border: 3px #612871 solid;
    border-radius: 14px 0px 0px 14px;
    */
}

.eolquestion_block.Media.Media-Control .index:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -1px;
    bottom: -2px;
    right: 0px;
    /*
    border: 3px #612871 solid;
    */
    border-radius: 14px 0px 0px 14px;
}

.eolquestion_block.Media.Media-Calificada .index:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -1px;
    bottom: -2px;
    right: 0px;
    /*
        border: 3px #612871 solid;
    */
    border-radius: 14px 0px 0px 14px;
}

.eolquestion_block.Media .text {
    margin-left: calc(10px + 30px + 10px);
}

.eolquestion_block.Media .index-number {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -12.5px;
    font-size: 20px;
    font-weight: bold;
}

.eolquestion_block.Media .separator {
    height: 100%;
    background-color: #612871;
    top: 0px;
    width: 6px;
    left: calc(10px + 23px + 10px);
}

.eolquestion_block.Media .separator:after {
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    width: 4px;
}

.eolquestion_block.Media-Control .separator {
    height: 100%;
    background-color: #612871;
    top: 0px;
    width: 5px;
    left: calc(10px + 23px + 10px);
}

.eolquestion_block.Media-Control .separator:after {
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    width: 4px;
}

.eolquestion_block.Media-Calificada .separator {
    height: 100%;
    top: 0px;
    width: 5px;
    left: calc(10px + 23px + 10px);
}

.eolquestion_block.Media-Calificada .separator:after {
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    width: 4px;
}

.eolquestion_block.Media .Control {
    background-color: #612871 !important;
}
.eolquestion_block.Media .No-Calificada {
    background-color: #612871 !important;
}
.eolquestion_block.Media .Calificada {
    background-color: #612871 !important;
}

/* CSS for EolQuestionXBlock Didactica Theme */

.eolquestion_block.Didactica {
    border-radius: 15px 15px 15px 15px;
    border: 1px solid #f6bfc0;;
    background-color: transparent;
    padding: 15px;
}

.eolquestion_block.Didactica .index {
    width: 50px;
    height: 100%;
    border-radius: 14px 0px 0px 14px;
    top: 0px;
    left: 0px;
}

.eolquestion_block.Didactica .index:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -1px;
    bottom: -2px;
    right: 0px;
    border: 3px #e71f24 solid;
    border-radius: 14px 0px 0px 14px;
}

.eolquestion_block.Didactica.Didactica-Control .index:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -1px;
    bottom: -2px;
    right: 0px;
    border: 3px #e71f24 solid;
    border-radius: 14px 0px 0px 14px;
}

.eolquestion_block.Didactica.Didactica-Calificada .index:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -1px;
    bottom: -2px;
    right: 0px;
    border: 3px #e71f24 solid;
    border-radius: 14px 0px 0px 14px;
}

.eolquestion_block.Didactica .text {
    margin-left: calc(10px + 45px + 10px);
    line-height: 25px;
    padding-top: 12px;   
    /*background-color: #0062dc; */
    border: 1px /* #0062dc solid */;
    padding-bottom: 12px;
}

.eolquestion_block.Didactica .index-number {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -12.5px;
    font-size: 20px;
    font-weight: bold;
}

.eolquestion_block.Didactica .separator {
    height: 100%;
    background-color: #e71f24;
    top: 0px;
    width: 4px;
    left: calc(10px + 34px + 10px);
}

.eolquestion_block.Didactica .separator:after {
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    width: 4px;
    background-color: #e71f24;
    border: 1px #e71f24 solid;
}

.eolquestion_block.Didactica-Control .separator {
    height: 100%;
    background-color: #e71f24;
    top: 0px;
    width: 5px;
    left: calc(10px + 34px + 10px);
}

.eolquestion_block.Didactica-Control .separator:after {
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    width: 4px;
    background-color: #e71f24;
    border: 1px #e71f24 solid;
}

.eolquestion_block.Didactica-Calificada .separator {
    height: 100%;
    background-color: #e71f24;
    top: 0px;
    width: 5px;
    left: calc(10px + 34px + 10px);
}

.eolquestion_block.Didactica-Calificada .separator:after {
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    width: 4px;
    background-color: #e71f24;
    border: 1px #e71f24 solid;
}

.eolquestion_block.Didactica .No-Calificada {
    background-color: #e71f24 !important;
}

/* CSS RedFid */


.eolquestion_block.RedFid{
    position: relative;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    display: block;
    margin: 20px auto;
    background-color: #fff0;
}

.eolquestion_block.RedFid .index {
    width: 60px;
    height: 60px;
    color: #fff;
    border-radius: 40px;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    top: calc(50% - 28px);
    left: 10px;
    padding-top: 16px;
}

.eolquestion_block.RedFid .index .index-number{
    font-weight: bold;
    font-size: 24px;
}

.eolquestion_block.RedFid .separator {
    width: 1px;
    height: 40px;
    background-color: #fff0;
    /*color: #fff;*/
    position: absolute;
    top: calc(50% - 20px);
    left: calc(10px + 25px + 10px);
    float: left;
}

.eolquestion_block.RedFid .text {
    color: #282828;
    font-weight: bold;
    text-align: justify;
    position: relative;
    margin-left: calc(42px + 25px + 10px);
    font-size: 16.45px;
}

.eolquestion_block.RedFid .Calificada {
    background-color: #0C8AA8;
}

.eolquestion_block.RedFid .No-Calificada {
    background-color: #0C8AA8;
}

.eolquestion_block.RedFid .Control {
    background-color: #0C8AA8 ;
}
.eolquestion_block.Didactica .index-number {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -12.5px;
    font-size: 20px;
    font-weight: bold;
}

.eolquestion_block.Didactica .separator {
    height: 100%;
    background-color: #e71f24;
    top: 0px;
    width: 4px;
    left: calc(10px + 34px + 10px);
}

.eolquestion_block.Didactica .separator:after {
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    width: 4px;
    background-color: #e71f24;
    border: 1px #e71f24 solid;
}

.eolquestion_block.Didactica-Control .separator {
    height: 100%;
    background-color: #e71f24;
    top: 0px;
    width: 5px;
    left: calc(10px + 34px + 10px);
}

.eolquestion_block.Didactica-Control .separator:after {
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    width: 4px;
    background-color: #e71f24;
    border: 1px #e71f24 solid;
}

.eolquestion_block.Didactica-Calificada .separator {
    height: 100%;
    background-color: #e71f24;
    top: 0px;
    width: 5px;
    left: calc(10px + 34px + 10px);
}

.eolquestion_block.Didactica-Calificada .separator:after {
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    width: 4px;
    background-color: #e71f24;
    border: 1px #e71f24 solid;
}

.eolquestion_block.Didactica .No-Calificada {
    background-color: #e71f24 !important;
}

/* CSS RedFid */


.eolquestion_block.RedFid{
    position: relative;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    display: block;
    margin: 20px auto;
    background-color: #fff0;
}

.eolquestion_block.RedFid .index {
    width: 60px;
    height: 60px;
    color: #fff;
    border-radius: 40px;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    top: calc(50% - 28px);
    left: 10px;
    padding-top: 16px;
}

.eolquestion_block.RedFid .index .index-number{
    font-weight: bold;
    font-size: 24px;
}

.eolquestion_block.RedFid .separator {
    width: 1px;
    height: 40px;
    background-color: #fff0;
    /*color: #fff;*/
    position: absolute;
    top: calc(50% - 20px);
    left: calc(10px + 25px + 10px);
    float: left;
}

.eolquestion_block.RedFid .text {
    color: #282828;
    font-weight: bold;
    text-align: justify;
    position: relative;
    margin-left: calc(42px + 25px + 10px);
    font-size: 16.45px;
}

.eolquestion_block.RedFid .Calificada {
    background-color: #0C8AA8;
}

.eolquestion_block.RedFid .No-Calificada {
    background-color: #0C8AA8;
}

.eolquestion_block.RedFid .Control {
    background-color: #0C8AA8 ;
}
